body{   
    display: flex;
    flex-direction: column;    
    width: 97vw;
    height: 97vh;
    background-image: url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-color: white;
    background-blend-mode:luminosity;
    background-size:cover;
    background-clip: content-box;
    background-position: center;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    justify-content: center;
}
.head{
    display: flex;
    flex-direction: row;
    padding: 4px;
    width: 95vw;
    margin:0px auto 0px auto;
    background-color: rgba(46, 33, 165, 0.534);
    justify-self:center;
    justify-items: center;
    align-self: center;
    justify-content: center;
    text-align: center;   
    margin-top: -40px;
    top:0;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 1px  rgb(134, 134, 134) ;
    animation: go-back 3s ;
}

@keyframes go-back{
    from{transform: translateY(800px);}
    to{transform: translateY(0px);}
}
}
header img{
    margin:4px;
    flex-basis: 2;
    flex-shrink: 1;
    margin-right: 15px;
}
header h1{
    margin: 5px 5px;
    justify-content: center;
    align-self: center;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    color: white;
}
main{
    display: flex;
  /*  position: relative;*/
    flex-direction: row; 
    flex-wrap: nowrap;   
    justify-self:center;
    align-self: center;
    justify-content: center;
    justify-items: center;  
    height: 75%;
    
    
    
}
.sec_principal{   
    display: flex; 
    flex-direction: row; 
    flex-wrap: nowrap;
    align-self: center;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 1px rgb(134, 134, 134);
    width: 85vw;
    height: 100px;    
    background-color: rgba(46, 33, 165, 0.534);
    animation: aparecer 5s;
    animation: crescer 4s;
    
}
@keyframes aparecer{
    0%{ opacity: 0%;}
    100%{opacity: 100%;}
}
@keyframes crescer{
    0%{height: 0px;
        width: 0vw;}
        100%{height: 100px;
        width: 85vw;}
}
.pesquisa{
    height: 20px;
    padding: 5px;
    width: 300px;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 1px rgb(134, 134, 134);
    font-weight: bolder;    
    grid: 1;
    visibility: hidden;
    animation: aparecerpesq 5s ease 4s;
    animation: crescerpesq 5s ease 4s;
    animation-fill-mode: forwards;
    }
    @keyframes aparecerpesq{
        0%{ opacity: 0%;visibility: visible;}
        100%{opacity: 100%;visibility: visible;}
    }
    @keyframes crescerpesq{
        0%{height: 0px;
            width: 0px;visibility: visible;}
            100%{height: 20px;
            width: 300px;visibility: visible;}
    }
    .enviar{
        height: 35px;
        padding: 5px;
        width: 150px;
        justify-self: baseline;
        margin-left: 15px;
        margin right: 3px;
        border-radius: 4px;
        box-shadow: 1px 1px 5px 1px rgb(134, 134, 134);
        font-weight: bolder;
        font-size: 12pt;
        grid: 1;
        visibility: hidden;
        animation: aparecerbot 5s ease 4s;
        animation: crescerbot 5s ease 4s;
        animation-fill-mode: forwards;
        }
        @keyframes aparecerbot{
            0%{ opacity: 0%;visibility: visible;}
            100%{opacity: 100%;visibility: visible;}
        }
        @keyframes crescerbot{
            0%{height: 0px;
                width: 0px;visibility: visible;
            font-size: 0pt;}
                100%{height: 35px;
                width: 150px;visibility: visible;font-size: 12pt;}
        }

        .ficha{
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            border:solid red; 
            height: 300px;
            width: 700px;
            position:absolute;
            justify-self: center;
            align-self: center;
            position: absolute;
            margin-top: 45px;
        }
        .poster{
            border: solid green;
            width: 30%;
            height: 100%;
        }
        .resumo{
            border: solid yellow;
            width: 70%;
            height: 100%;
        }
        @media (max-width:360px){
            .ficha{
                flex-direction: column;
                align-self:flex-end;
                height: 450px;
                margin-top:85px;
                position:absolute;
                bottom:0;
            }
            .poster{
                justify-self: center;
                margin:0px auto;
                height: 60%;
            }
            .resumo{
                justify-self:center;
                margin: 0px auto;
                height: 40%
            }

        }