body{
    display: flex;
    flex-direction: column;
    width: 97vw;
    height: 97vh;
    background-image: url(/images/bg.jpg);
    background-repeat: no-repeat;
    background-size:cover;
    background-clip: content-box;
    background-position: center;    
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    scroll-margin: 0;
}
.head{
    display: flex;
    flex-direction: row;
    width: 85%;
    height: 15vh;
    background-color: rgba(104, 65, 65, 0.534);
    justify-self:center;
    margin: 0 15%;
    margin-top: -5px;
    top:0;
    border-radius: 4px;
    box-shadow: 1px 1px 5px 1px rgb(32, 32, 32);
}
header img{
    margin:4px;
    flex-basis: 2;
    flex-shrink: 1;
}
header h1{
    margin: 5px auto;
    justify-content: center;
    align-self: center;
    font-family: 'Open Sans', sans-serif;
    text-shadow: 2px 2px 2px rgb(0, 0, 0);
    color: white;
}
main{
    border:solid black;
    width: 85%;
    height: 70vh;
    margin-top: 5px ;
  
    justify-content: center;
    align-items: center;
    align-content: center;
    justify-self: center;
}